{% extends 'base.html' %}

{% block content %}
    <div style="text-align: center; border-radius: 1rem; margin: 2rem;">
        <h1 class="graffitie_header_logo">
            do your art on the wall
        </h1>

        <form action="/account/hello_world/" method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="login_id">
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="POST">
            </div>
        </form>
        {% if hello_world_list %}
            {% for hello_world in hello_world_list %}
            <h1>
                {{ hello_world.text }}
            </h1>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}