


<!--<div class="border border-dark border-top border-bottom">-->
<!--  <div>-->
<!--    <strong> {{ comment.writer.profile.nicknamge }}</strong>-->
<!--    &nbsp&nbsp&nbsp-->
<!--    {{ comment.created_at }}-->
<!--  </div>-->
<!--  <div>-->
<!--    {{ comment.content }}-->
<!--  </div>-->
<!--</div>-->

<div class="container bootstrap snippets bootdey">
    <div class="row">
		<div class="col-md-12">
		    <div class="blog-comment">
				<h3 class="text-success">Comments</h3>
                <hr/>
				<ul class="comments">
				<li class="clearfix">

				    <img src="{{ comment.writer.profile.image.url }}" alt="profile_image" class="avatar">
				    <div class="post-comments">
						<p class="meta">{{ comment.created_at }} <a href="#">{{ comment.writer.profile.nicknamge }}</a> says : <i class="pull-right"><a href="#"><small>Reply</small></a></i></p>
					    <p>
						  {{ comment.content }}
					    </p>
						{% if comment.writer == user %}
						<div style="text-align: right">
							<a href="{%url 'commentapp:delete' pk=comment.pk %}" class="btn btn-danger rounded-pill">
							Delete
							</a>
						</div>
						{% endif %}
				    </div>

				</li>
				</ul>

			</div>
		</div>
	</div>
</div>



<style type="text/css">

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #FFFFFF;
}
a {
    color: #82b440;
    text-decoration: none;
}
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
	display: table;
	clear: both;
}

.blog-comment{
    padding-left: 15%;
	padding-right: 15%;
}

.blog-comment ul{
	list-style-type: none;
	padding: 0;
}

.blog-comment img{
	opacity: 1;
	filter: Alpha(opacity=100);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	  	 -o-border-radius: 4px;
			border-radius: 4px;
}

.blog-comment img.avatar {
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 65px;
	height: 65px;
}

.blog-comment .post-comments{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #fff;
	color: #6b6e80;
	position: relative;
}

.blog-comment .meta {
	font-size: 13px;
	color: #aaaaaa;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}

.blog-comment-form{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 40px;
}

.blog-comment h3,
.blog-comment-form h3{
	margin-bottom: 40px;
	font-size: 26px;
	line-height: 30px;
	font-weight: 800;
}
</style>

