{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div>
   <div style="text-align: center; max-width: 400px; margin: 4rem auto">
       <img src="{{ target_project.image.url }}" alt="project_image" class="img-responsive img-circle">
       <h2>
           {{ target_project.title }}
       </h2>
       <h5>
           {{ target_project.description }}
       </h5>
   </div>
    <div>
        {% include 'snippets/list_fragment.html' with article_list=object_list %}
    </div>
</div>

{% endblock %}
