.graffitie_footer_logo {
    font-family: 'Bebas Neue', cursive;
}
.graffitie_footer_button{

}

.graffitie_footer{
    text-align: center; margin-top: 2rem;
}

.graffitie_header_logo{
    font-family: 'Bebas Neue', cursive;
}

.graffitie_header{
    text-align: center; margin: 2rem;
}

@mdia screen and (max-width:  500px){
    html {
        font-size: 13px
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.graffitie_header_nav{
    margin: 1rem 0.5rem
}