{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div style="text-align: center; max-width: 400px; margin: 4rem auto">
   <div>
      <h1>
          {{ target_article.title }}
      </h1>
       {% if target_article.image %}
       <img src="{{ target_article.image.url }}" alt="">
       {% endif %}
       <p>
           {{ target_article.content }}
       </p>
   </div>
    <div class="d-flex justify-content-between mt-3 mb -3">
        <a href="{% url 'articleapp:update' pk=target_article.pk %}" class="btn btn-dark rounded-pill col-3 mt-3 mb -3">
            Update Article
        </a>
        <a href="{% url 'articleapp:delete' pk=target_article.pk %}" class="btn btn-dark rounded-pill col-3 mt-3 mb -3">
            Delete Article
        </a>
    </div>




</div>

{% endblock %}
