{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div style="text-align: center; max-width: 400px; margin: 4rem auto">
    <div>
      <h1>
          {{ target_article.title }}
      </h1>
       <h5>
           {{ target_article.writer.profile.nickname }}
       </h5>
       {% if target_article.image %}
       <img src="{{ target_article.image.url }}" alt="">
       {% endif %}
       <p>
           {{ target_article.content }}
       </p>
    </div>
    <div>
        {% include 'commentapp/create.html' with article=target_article %}
    </div>
    {% if target_article.writer == user %}
    <div class="d-flex justify-content-center mt-3 mb -3">
        <a href="{% url 'articleapp:update' pk=target_article.pk %}" class="btn btn-primary rounded-pill col-3 mt-3 mb -3">
            Update
        </a>
        <a href="{% url 'articleapp:delete' pk=target_article.pk %}" class="btn btn-danger rounded-pill col-3 mt-3 mb -3">
            Delete
        </a>
    </div>
    {% endif %}




</div>

{% endblock %}
