{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
<!DOCTYPE html>

<style>

.container div {
  width: 280px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.container img {
  width: 100%
}
</style>

    <div class="container">
    <div class="item1">
      <img src="https://picsum.photos/200/300" alt="">
    </div>
    <div class="item2">
       <img src="https://picsum.photos/200/300" alt="">
    </div>
    <div class="item3">
       <img src="https://picsum.photos/200/300" alt="">
    </div>
    <div class="item4">
       <img src="https://picsum.photos/200/300" alt="">
    </div>
    <div class="item5">
       <img src="https://picsum.photos/200/300" alt="">
    </div>
    <div class="item6">
       <img src="https://picsum.photos/200/300" alt="">
    </div>
    <div class="item7">
       <img src="https://picsum.photos/200/300" alt="">
    </div>
    <div class="item8">
       <img src="https://picsum.photos/200/300" alt="">
    </div>
    <div class="item9">
       <img src="https://picsum.photos/200/300" alt="">
    </div>
    <div class="item10">
       <img src="https://picsum.photos/200/300" alt="">
    </div>
    <div class="item11">
       <img src="https://picsum.photos/200/300" alt="">
    </div>
    <div class="item12">
       <img src="https://picsum.photos/200/300" alt="">
    </div>
    <div class="item13">
       <img src="https://picsum.photos/200/300" alt="">
    </div>
    </div>
    <div class="d-flex justify-content-center mt-3 mb -3">
        <a href="{% url 'articleapp:create' %}" class="btn btn-dark rounded-pill col-3 mt-3 mb -3">
            Create Article
        </a>
    </div>

<script src="{% static 'js/magicgrid.js' %}">

</script>
{% endblock %}

